body, body * {
    font-family: 'Montserrat', sans-serif;
    color: #494949;
}

body {
    background-color: #40a63d1a;
}

/*/* Write all your CSS here!*/

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#flags
{
	float: right;

}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
.side-text
{
	float: right;
	border: 2px solid black;
	width: 20%;
	height: 50%;
	margin-top: 10%;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}
p{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;

}

